.table-middle > tbody > tr > td {
    vertical-align: middle;
}

.table-middle > tbody > tr > th {
    vertical-align: middle;
}

.table-striped > thead > tr > th {
    background-color: #3480AF;
    color: white;
    border-bottom: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #1D334C;
    color: #78dcff;
    border-top: 0;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #233B55;
    color: #78dcff;
    border-top: 0;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th {
    padding-left: 10px;
    border-top: 0;
}

.table-condensed > tbody > tr > td > .btn {
    padding: 0px 0px 0px 12px;
    color: #78dcff;
}

.table-condensed > tbody > tr > td > .disabled {
    color: #8a78ff !important;
}


td.dt-center {
    text-align: center;
}

.navbar-default {
    background-image: linear-gradient(to bottom,#000000 0,#1D364F 100%);
    border-color: #2f465d;
}

.navbar-default .navbar-nav > li > a {
    color: #78dcff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: #284A68;
    background-image: none;
}

.dropdown-menu {
    border: none;
    width: 650px;
    background-color: #284A68;
}

.navbar-header > img {
    inline-size: 50px;
}

label {
    color: #78dcff;
}

label > img {
    inline-size: 30px;
}

.dataTables_info {
    color: #78dcff;
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 10px;
    background-color: #162C44;
}

body {
    padding-top: 50px;
    background: black;
}

.toolbar {
    float:left;
}

.bold {
    font-weight: bold;
}